* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 40vh;
}

.blue {
  height: 35vh;
  background: url(/1.png) no-repeat;
  background-size: cover;
  background-position-y: 65%;
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue h2,
.blue p {
  animation: logoFade 2s;
}

@keyframes logoFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

header nav {
  height: 5vh;
  background: rgb(52, 57, 65);
  color: rgb(235, 235, 235);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 80vw;
  padding-top: 5px;
  margin: auto;
}

.lists {
  padding-left: 20px;
}

.hidden-list {
  display: none;
}

.lists:hover + .hidden-list {
  background: rgb(52, 57, 65);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  width: 20vw;
  padding-left: 25px;
  z-index: 1;
}

.lists:hover + .hidden-list li {
  animation: listHover 0.5s;
}

@keyframes listHover {
  0% {
    opacity: 0;
  }
  100% {
  }
}

/*------main starts here------*/

main {
  width: 85vw;
  margin: auto;
}

.sec-1 {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-1 h3 {
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.sec-1 p {
  font-size: 20px;
  letter-spacing: 5px;
}

/* sec-1 ends here */

.pic {
  height: 45vh;
  display: flex;
}

img {
  width: 50%;
  object-fit: cover;
  filter: brightness(100%);
}

img:hover {
  filter: brightness(120%);
}

/* pics ends here */

.sec-2 {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-2 h4 {
  font-size: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.sec-2 p {
  font-size: 20px;
  margin-top: 20px;
}

section {
  height: 75px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
}

.container:hover {
  background: rgba(139, 27, 27, 0.555);
}

.box1 {
  background: rgba(80, 86, 97, 0.89);
}

.box2 {
  background: rgba(80, 86, 97, 0.699);
}

.box3 {
  background: rgba(80, 86, 97, 0.479);
}

.box4 {
  background: rgba(80, 86, 97, 0.185);
}

/*     main ends here */

footer {
  width: 100vw;
  height: 30vh;
  background: rgb(52, 57, 65);
  color: rgb(235, 235, 235);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.logo {
  margin-top: 7vh;
  text-align: center;
  width: 80vw;
}

@media screen and (max-width: 750px) {
  .pic {
    height: 35vh;
  }

  .sec-2 {
    height: none;
    margin: 5vh 0;
  }

  section {
    height: 65px;
  }

  .container {
    font-size: 17px;
  }
}
